@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Indie_Flower/IndieFlower-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Ingrid Darling';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Ingrid_Darling/IngridDarling-Regular.ttf') format('truetype');
  font-display: swap;
}

header {
  font-family: Ingrid Darling, sans-serif;
  font-size: 1em;
  background-color: #C3988A;
  width: 100%;
  height: auto;
  padding: 1em 0;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-wrap h1 {
  margin: 0;
}

.logo-wrap svg {
  width: 50px;
  height: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

body {
  margin: 0;
}

h2, p, span {
  font-family: Indie Flower, sans-serif;
  text-align: center;
  font-size: 1.25em;
}

h1 {
  font-family: Ingrid Darling, sans-serif;
  text-align: center;
  font-size: 2.25em;
}

nav {
  font-size: 1.7em;
  display: none;
  flex-direction: column;
  align-items: center;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: brown;
}

a:active {
  color: white;
}

.product-row img:active {
  opacity: 0.5;
}

.product-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product-row figure {
  width: 30%;
  text-align: center;
}

.product-row img {
  width: 100%;
  height: auto;
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px;
  padding-left: 10%;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.product-item img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  padding-right: 10%;
}

.product-item .info {
  max-width: 800px;
}

.product-item h1 {
  margin: 0 0 10px 0;
  text-align: left;
}

.product-item p {
  margin: 0;
  text-align: left;
}

.title-row {
  display: flex;
  justify-content: space-between; /* pushes price to right */
  align-items: center;
  width: 100%;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}

svg.menu {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
}

svg.menu:hover {
  cursor: pointer;
}

nav.expand {
  display: flex;
}

header.expand {
  padding-bottom: 1.5em;
}

@media screen and (max-width: 700px) {
  .product-item {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .product-item .info {
    width: 100%;
    text-align: center;
  }

  .product-item img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .product-row {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  .product-row figure {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .product-row figure img {
    width: 80%;
    height: auto;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  header {
    background-color: #6A5148;
  }
  body {
    background-color: #111111;
    color: white;
  }

  a:link, a:visited {
    color: white;
  }

  a:hover {
    color: rosybrown;
  }

  a:active {
    color: white;
  }
}